body{
  margin:0;
  background-color:#aee6ff;
  font-family:'Press Start 2P', cursive;
  overflow:hidden;
}

@keyframes idleBounce {
  0%   { transform: translateX(-50%) translateY(0px); }
  50%  { transform: translateX(-50%) translateY(-6px); }
  100% { transform: translateX(-50%) translateY(0px); }
}

.fade-out {
  opacity: 0;
  transition: opacity 1.2s ease;
}

#startScreen{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

  background:#aee6ff; /* baby blue */
  z-index:999;
}

#startBtn{
  font-family:'Press Start 2P', cursive;
  font-size:16px;

  padding:18px 26px;

  background:white;
  color:black;

  border:4px solid black;
  box-shadow:4px 4px 0 black;

  cursor:pointer;

  image-rendering: pixelated;
  transition: transform 0.1s ease;
}

#startBtn:hover{
  transform: translateY(2px);
  box-shadow: 2px 2px 0 black;
}

#startBtn:active{
  transform: translateY(4px);
  box-shadow: 0px 0px 0 black;
}

#title{
  font-family:'Press Start 2P', cursive;
  font-size:20px;
  margin-bottom:20px;

  color:black;
}

#game{
  position:relative;
  width:100vw;
  height:100vh;
}

#background{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  image-rendering:pixelated;
}

#character{
  position:absolute;
  bottom:15%;
  left:50%;
  height:60vh;
  image-rendering: pixelated;

  animation: idleBounce 1.6s ease-in-out infinite;
  transition: opacity 1.2s ease;
}

#dialogue{
  position:absolute;
  bottom:12%;
  left:50%;
  transform:translateX(-50%);
  width:70%;

  text-align:center;
  font-size:18px;

  background:white;
  padding:20px;

  border:4px solid black;
  box-shadow:4px 4px 0 black;
}

#choices{
  position:absolute;
  bottom:4%;
  width:100%;
  text-align:center;
}

#confetti{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:10;
}

#background{
  z-index:0;
  position:absolute;
}

button{
  font-family:'Press Start 2P', cursive;
  font-size:12px;

  padding:14px 20px;
  margin:10px;

  background:#ffb6e6;
  border:4px solid black;

  box-shadow:4px 4px 0px black;

  cursor:pointer;
}

button:hover{
  transform:translateY(2px);
  box-shadow:2px 2px 0px black;
}
